@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideout {
  from {
    margin-right: -30%;
  }
  to {
    margin-right: 0;
  }
}

@keyframes slidein {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -30%;
  }
}

@keyframes slideout-bottom {
  from {
    margin-bottom: -75%;
  }
  to {
    margin-bottom: 0;
  }
}

@keyframes slidein-bottom {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: -75%;
  }
}

@keyframes slidein-left {
  from {
    left: -20px;
  }
  to {
    left: -96px;
  }
}

@keyframes slideout-left {
  from {
    left: -96px;
  }
  to {
    left: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-180deg);
  }
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
